/*stryle css*/
body {
  margin: 0px;
  padding: 0px;
}

.meny {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-decoration: none;
 overflow: hidden;
 background-color: #80d4ff;
 text-align: center;
 font-size: 35px;
 font-family: "Times New Roman", serif;
 }

 .meny a {
  float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 15px 20px;
   text-decoration: none;
 }

 .meny a:hover{
   background-color: #4dc3ff
 }

 h1 {
  text-align:center;
  padding-top: auto;
  font-family: "Times New Roman", serif;
  color: #80D4FF;
 }

 .bildlank {
   padding-top: 30px;
   padding-left: 50px;
 }

 .bildlank2 {
   margin-left: auto;
   margin-right: auto;
 }

.smhi1 {
  border-left: solid #80D4FF 5px;
  border-right: solid #80D4FF 5px;
  border-bottom: solid #80D4FF 5px;
}

 .smhi2 {
   border-left: solid #80D4FF 5px;
   border-right: solid #80D4FF 5px;
   border-bottom: solid #80D4FF 5px;
 }

/* lägg till en border p ngra pixlar på smhi, tror att det kan bli snyggt*/

.bildspel {
  border: solid #80D4FF 5px;
}

 .mySlides {
  animation: fading 7s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0};
  display: none;
}

.slideshow {
  margin: 0px auto;
  margin-top: 50px;
  border: solid #80D4FF 5px;
  position: relative;
  background-color: black;
}
