/*stryle css*/
body {
  margin: 0px;
  padding: 0px;
}
/*de följande tre är för styling av menyn */
.meny {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-decoration: none;
 overflow: hidden;
 background-color: #80d4ff;
 text-align: center;
 font-size: 35px;
 font-family: "Times New Roman", serif;
 }

 .meny a {
  float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 15px 20px;
   text-decoration: none;
 }

 .meny a:hover{
   background-color: #4dc3ff
 }

 h1 {
  text-align:center;
  font-family: "Times New Roman", serif;
  color: #80D4FF;
 }

 .bildlank {
   padding-top: 30px;
   padding-left: 50px;
   width: 100%;
 }

 .bildlank2 {
   margin-left: 70px;
   width: 100%;
 }

.smhi {
  border-left: solid #80D4FF 5px;
  border-right: solid #80D4FF 5px;
  border-bottom: solid #80D4FF 5px;
  width: 100%;
}

 .smhi2 {
   border-left: solid #80D4FF 5px;
   border-right: solid #80D4FF 5px;
   border-bottom: solid #80D4FF 5px;
   width: 100%;
 }

 p , h2 {
   text-align:center;
   font-family: "Times New Roman", serif;
   color: black;
 }

/* lägg till en border p ngra pixlar på smhi, tror att det kan bli snyggt*/

/* här är styling för bildspelet*/
.bildspel {
  border: solid #80D4FF 5px;
  max-width:100%;
}

 .mySlides {
  width: 100%;
  animation: fading 7s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0};
}

.slideshow {
  margin: 0px auto;
  margin-top: 50px;
  border: solid #80D4FF 5px;
  background-color: black;
}
