/*stryle css*/
.meny {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-decoration: none;
 overflow: hidden;
 background-color: #80d4ff;
 text-align: center;
 font-size: 30px;
 }

 .meny a {
  float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 15px 20px;
   text-decoration: none;
 }

 .meny a:hover{
   background-color: #4dc3ff
 }

 .h1 {
   text-align:center;
   margin: 0px auto;
   right: 0px;
   left: 0px;
 }

/* lägg till en border p ngra pixlar på smhi, tror att det kan bli snyggt*/

 .mySlides {
  animation: fading 7s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0};
  display: none;
}

.slideshow {
  margin: 0px auto;
  margin-top: 50px;
  border: solid #0097a7ff 5px;
  position: relative;
  background-color: black;
}

.bildlank ,  .bildlank2 {
  margin: 0px auto;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;

}
